@{
    ViewBag.Title = "CHART - HOME";
    Layout = null;
}

<link href="~/Content/TreeView/TreeView.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3">
        <div>
            <h3 class="text-danger">CHARTS</h3>
            <ul class="tree">
                <li><a target="_blank" href="@Url.Action("Index","FusionChart")">FusionChart</a></li>
                <li><a target="_blank" href="@Url.Action("Index","CanvasJsChart")">CanvasJsChart</a></li>
                <li><a target="_blank" href="@Url.Action("Index","amCharts")">amCharts</a></li>
                <li><a target="_blank" href="@Url.Action("Index","HighChart")">HighChart</a></li>
                <li><a target="_blank" href="@Url.Action("Index","d3Chart")">d3Chart</a></li>
            </ul>
        </div>
    </div>
</div>