@{
    ViewBag.Title = "HighCharts";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">High Chart Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("ColumnChart","HighChart")">Column Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("BarChart","HighChart")">Bar Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("LineChart","HighChart")">Line Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("AreaChart","HighChart")">Area Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("PieChart","HighChart")">Pie Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("ScatterChart","HighChart")">Scatter Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("BubbleChart","HighChart")">Bubble Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("CombinationsChart","HighChart")">Combinations Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("AccessibleChart","HighChart")">Accessible Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("DynamicChart","HighChart")">Dynamic Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("GaugesChart","HighChart")">Gauges Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("HeatMap","HighChart")">Heat Map</a></li>
                    <li><a target="_blank" href="@Url.Action("TileMap","HighChart")">Tile Map</a></li>
                    <li><a target="_blank" href="@Url.Action("TreeMap","HighChart")">Tree Map</a></li>
                    <li><a target="_blank" href="@Url.Action("RadarChart","HighChart")">Radar Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
