@{
    ViewBag.Title = "HighCharts";
}

<div class="jumbotron" style="padding-bottom:1%;padding-top:1%">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>Highcharts JS</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="https://www.highcharts.com/" target="_blank">OFFICIAL SITE</a>
                    <a class="btn btn-danger btn-sm" href="https://shop.highsoft.com/" target="_blank">PRICE</a>
                </div>
                <p>
                    Highcharts is a charting library written in pure JavaScript, offering an easy way of adding interactive charts to your web site or web application. Highcharts currently supports line, spline, area, areaspline, column, bar, pie, scatter, angular gauges, arearange, areasplinerange, columnrange, bubble, box plot, error bars, funnel, waterfall and polar chart types.
                </p>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">Chart List <small><a style="font-size:medium" target="_blank" href="@Url.Action("ChartCombination","HighChart")">( Collection Charts )</a></small></h3>
    </div>
    <div class="col-md-3">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("ColumnChart","HighChart")">Column Chart</a></li>
            <li><a target="_blank" href="@Url.Action("BarChart","HighChart")">Bar Chart</a></li>
            <li><a target="_blank" href="@Url.Action("LineChart","HighChart")">Line Chart</a></li>
            <li><a target="_blank" href="@Url.Action("AreaChart","HighChart")">Area Chart</a></li>
            <li><a target="_blank" href="@Url.Action("PieChart","HighChart")">Pie Chart</a></li>
            <li><a target="_blank" href="@Url.Action("ScatterChart","HighChart")">Scatter Chart</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("CombinationsChart","HighChart")">Combinations Chart</a></li>
            <li><a target="_blank" href="@Url.Action("AccessibleChart","HighChart")">Accessible Chart</a></li>
            <li><a target="_blank" href="@Url.Action("DynamicChart","HighChart")">Dynamic Chart</a></li>
            <li><a target="_blank" href="@Url.Action("GaugesChart","HighChart")">Gauges Chart</a></li>
            <li><a target="_blank" href="@Url.Action("HeatMap","HighChart")">Heat Map</a></li>
            <li><a target="_blank" href="@Url.Action("TileMap","HighChart")">Tile Map</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("TreeMap","HighChart")">Tree Map</a></li>
            <li><a target="_blank" href="@Url.Action("RadarChart","HighChart")">Radar Chart</a></li>
            <li><a target="_blank" href="@Url.Action("SpiderWebChart","HighChart")">Spider Web</a></li>
            <li><a target="_blank" href="@Url.Action("SunBurstChart","HighChart")">Sun Burst</a></li>
            <li><a target="_blank" href="@Url.Action("ParallelCoordinatesChart","HighChart")">Parallel Coordinates</a></li>
            <li><a target="_blank" href="@Url.Action("PyramidChart","HighChart")">Pyramid Chart</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("BubbleChart","HighChart")">Bubble Chart</a></li>
            <li><a target="_blank" href="@Url.Action("WordcloudChart","HighChart")">Wordcloud Chart</a></li>
            <li><a target="_blank" href="@Url.Action("TimeLineChart","HighChart")">Timeline Chart</a></li>
            <li><a target="_blank" href="@Url.Action("VennDiagramChart","HighChart")">VennDiagram Chart</a></li>
            <li><a target="_blank" href="@Url.Action("ParliamentChart","HighChart")">Parliament Chart</a></li>
            <li><a target="_blank" href="@Url.Action("NetWorkChart","HighChart")">NetWork Chart</a></li>
        </ul>
    </div>
</div>