@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>morris.js</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="http://morrisjs.github.io/morris.js/index.html" target="_blank">OFFICIAL SITE</a>
                    <a class="btn btn-danger btn-sm" href="http://morrisjs.github.io/morris.js/index.html" target="_blank">PRICE</a>
                    <a class="btn btn-warning btn-sm text-white" href="https://github.com/morrisjs/morris.js" target="_blank">GitHub</a>
                </div>
                <p>
                    Morris.js is the library that powers the graphs on http://howmanyleft.co.uk/. It's a very simple API for drawing line, bar, area and donut charts.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-danger">morris.js Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("BarChart","MorrisJs")">Bar Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("LineChart","MorrisJs")">Line Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("AreaChart","MorrisJs")">Area Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("DonutChart","MorrisJs")">Donut Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("PieChart","MorrisJs")">Pie Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

