@{
    ViewBag.Title = "Fusion Charts";
    Layout = null;
}

<link href="~/Content/TreeView/TreeView.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3">
        <div>
            <h3 class="text-danger">Fushion Chart</h3>
            <ul class="tree">
                <li><a target="_blank" href="@Url.Action("BarChart","FusionChart")">Bar Chart</a></li>
                <li><a target="_blank" href="@Url.Action("ColumnChart","FusionChart")">Column Chart</a></li>
                <li><a target="_blank" href="@Url.Action("LineChart","FusionChart")">Line Chart</a></li>
                <li><a target="_blank" href="@Url.Action("PieChart","FusionChart")">Pie Chart</a></li>
                <li><a target="_blank" href="@Url.Action("MarketShareChart","FusionChart")">MarketShare Chart</a></li>
                <li><a target="_blank" href="@Url.Action("BubbleChart","FusionChart")">Bubble Chart</a></li>
            </ul>
        </div>
    </div>
</div>
