@{
    ViewBag.Title = "Fusion Charts";
}

<div class="jumbotron" style="padding-bottom:1%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>Fusion Charts</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="https://www.fusioncharts.com/" target="_blank">OFFICIAL SITE</a>
                    <a class="btn btn-danger btn-sm" href="https://www.fusioncharts.com/buy" target="_blank">PRICE</a>
                </div>
                <p>
                    FusionCharts has been downloaded over 1.4 million times by 750,000 developers worldwide. ‘By developers, for developers’ is our mission statement, where our teams are focused on making developers’ life joyful, while helping the world communicate and understand data effectively.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">Fushion Chart Library</h3>
                <ul class="tree">
                    <li><a target="_blank" href="@Url.Action("BarChart","FusionChart")">Bar Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("ColumnChart","FusionChart")">Column Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("LineChart","FusionChart")">Line Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("PieChart","FusionChart")">Pie Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("DonutChart","FusionChart")">Donut Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("BubbleChart","FusionChart")">Bubble Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("CombinedChart","FusionChart")">Combined Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("ParetoChart","FusionChart")">Pareto Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("StackedChart","FusionChart")">Stacked Chart</a></li>
                    <li><a target="_blank" href="@Url.Action("MarketShareChart","FusionChart")">MarketShare Chart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
