@{
    ViewBag.Title = "amcharts Charts";
}

<div class="jumbotron" style="padding-bottom:1%;padding-top:1%">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-success"><b>amcharts Chart</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                <div>
                    <a class="btn btn-success btn-sm" href="https://www.amcharts.com/" target="_blank">OFFICIAL SITE</a>
                    <a class="btn btn-danger btn-sm" href="https://www.amcharts.com/online-store/" target="_blank">PRICE</a>
                </div>
                <p>
                    amCharts is a company based in Vilnius, Lithuania. The beginning of amCharts and amMap was in 2004 when the first version of amMap was created. Antanas Marcelionis worked as a manager in a web development company and, being a fan of maps and traveling, wanted to have a tool to work like a pin-map for him. So he made this tool in his free time. In 2006 Antanas left his job without any clear idea what he’ll do next. With the help of some friends he deepened his programming knowledge (programming was only a hobby since he knew Basic on the legendary Sinclair ZX Spectrum), and one day he decided to make a pie chart. It took several months to release the first version of the pie chart. And then it all happened almost like in this Dilbert comic strip.
                </p>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-danger">Chart List</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("ColumnChart","amCharts")">Column Chart</a></li>
            <li><a target="_blank" href="@Url.Action("PieChart","amCharts")">Pie Chart"</a></li>
            <li><a target="_blank" href="@Url.Action("ChordDiagram","amCharts")">Chord Diagram</a></li>
            <li><a target="_blank" href="@Url.Action("ChordDiagramAnimated","amCharts")">Chord Diagram Animated</a></li>
            <li><a target="_blank" href="@Url.Action("LineChart","amCharts")">Line Chart</a></li>
            <li><a target="_blank" href="@Url.Action("AreaChart","amCharts")">Area Chart</a></li>
            <li><a target="_blank" href="@Url.Action("DonutChart","amCharts")">Donut Chart</a></li>
            <li><a target="_blank" href="@Url.Action("BellCurveSeries","amCharts")">BellCurve Series</a></li>
            <li><a target="_blank" href="@Url.Action("AnnotatingCharts","amCharts")">Annotating Charts</a></li>
            <li><a target="_blank" href="@Url.Action("VarianceIndicators","amCharts")">Variance Indicators</a></li>
            <li><a target="_blank" href="@Url.Action("VennDiagram","amCharts")">Venn Diagram</a></li>
            <li><a target="_blank" href="@Url.Action("CylinderGauge","amCharts")">Cylinder Gauge</a></li>
            <li><a target="_blank" href="@Url.Action("SunburstChart","amCharts")">Sunburst Chart</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("BoxPlotChart","amCharts")">BoxPlot Chart</a></li>
            <li><a target="_blank" href="@Url.Action("GaugeChart","amCharts")">Gauge Chart</a></li>
            <li><a target="_blank" href="@Url.Action("PictorialChart","amCharts")">Pictorial Chart</a></li>
            <li><a target="_blank" href="@Url.Action("BubbleChart","amCharts")">Bubble Chart</a></li>
            <li><a target="_blank" href="@Url.Action("FunnelChart","amCharts")">Funnel Chart</a></li>
            <li><a target="_blank" href="@Url.Action("RadarChart","amCharts")">Radar Chart</a></li>
            <li><a target="_blank" href="@Url.Action("PolarChart","amCharts")">Polar Chart</a></li>
            <li><a target="_blank" href="@Url.Action("ForceDirectedNetwork","amCharts")">ForceDirectedNetwork</a></li>
            <li><a target="_blank" href="@Url.Action("StadiumTrackChart","amCharts")">StadiumTrack Chart</a></li>
            <li><a target="_blank" href="@Url.Action("TransportMap","amCharts")">Transport Map</a></li>
            <li><a target="_blank" href="@Url.Action("StackedAxis","amCharts")">Stacked Axis</a></li>
            <li><a target="_blank" href="@Url.Action("PieChartAsBullets","amCharts")">PieChart As Bullets</a></li>

        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-danger">&nbsp;</h3>
        <ul class="tree">
            <li><a target="_blank" href="@Url.Action("CandlestickChart","amCharts")">Candlestick Chart</a></li>
            <li><a target="_blank" href="@Url.Action("TreeMap","amCharts")">TreeMap</a></li>
            <li><a target="_blank" href="@Url.Action("TimeLine","amCharts")">TimeLine</a></li>
            <li><a target="_blank" href="@Url.Action("DumbbellPlot","amCharts")">Dumbbell Plot</a></li>
            <li><a target="_blank" href="@Url.Action("WordCloud","amCharts")">WordCloud</a></li>
            <li><a target="_blank" href="@Url.Action("RadarTimeLine","amCharts")">Radar TimeLine</a></li>
            <li><a target="_blank" href="@Url.Action("OHLCChart","amCharts")">OHLC Chart</a></li>
            <li><a target="_blank" href="@Url.Action("StadiumTrackChart","amCharts")">Stadium Track Chart</a></li>
            <li><a target="_blank" href="@Url.Action("ForceDirectedNetwork","amCharts")">ForceDirected Network</a></li>
            <li><a target="_blank" href="@Url.Action("AnimatedSankeyDiagram","amCharts")">Animated Sankey Diagram</a></li>
            <li><a target="_blank" href="@Url.Action("CountriesMorphingToHeart","amCharts")">Countries Morphing To Heart</a></li>
            <li><a target="_blank" href="@Url.Action("RotatingGlobe","amCharts")">Rotating Globe</a></li>
        </ul>
    </div>
</div>